name: Convert Notebooks

on:
  push:
    branches:
      - main

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.2'  

    - name: Install nbconvert
      run: |
        python -m pip install --upgrade pip
        pip install nbconvert

    - name: Convert notebooks to Python scripts and HTML
      run: |
        for notebook in $(find . -name "*.ipynb"); do
          jupyter nbconvert --to script "$notebook"
          jupyter nbconvert --to html "$notebook"
        done

    - name: Commit and push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add *.py *.html
        git commit -m 'Automatically convert notebooks to Python scripts and HTML'
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}