name: Convert Notebooks into .html and .py

on:
  push:
    branches:
      - main  # Trigger the workflow on push to the main branch

jobs:
  convert:
    runs-on: ubuntu-latest  # Use the latest Ubuntu runner

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2  # Check out the repository

    - name: Set up Python
      uses: actions/setup-python@v2  # Set up Python
      with:
        python-version: '3.12'  # Specify the Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip  # Upgrade pip
        pip install nbconvert ipykernel  # Install nbconvert and ipykernel

    - name: Install Jupyter kernel
      run: |
        python -m ipykernel install --user --name=python3  # Install the python3 kernel

    - name: Convert notebooks to Python scripts and HTML
      run: |
        for notebook in $(find . -name "*.ipynb"); do  # Find all .ipynb files
          jupyter nbconvert --to script "$notebook"  # Convert to Python script
          jupyter nbconvert --to html "$notebook"  # Convert to HTML
        done

    - name: Commit and push changes to main branch
      run: |
        git config --global user.name 'github-actions[bot]'  # Configure Git user
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'  # Configure Git email
        git add *.py *.html *.txt  # Add Python scripts, HTML files, and text files
        git commit -m 'Automatically convert notebooks to Python scripts and HTML'  # Commit changes
        git push  # Push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Use GitHub token for authentication
