name: Convert Notebooks into .html and .py

on:
  push:
    branches:
      - main  

jobs:
  convert:
    runs-on: ubuntu-latest  
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2  

    - name: Set up Python
      uses: actions/setup-python@v2 
      with:
        python-version: '3.12' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip  
        pip install nbconvert 

    - name: Convert notebooks to Python scripts and HTML
      run: |
        for notebook in $(find . -name "*.ipynb"); do  # Find all .ipynb files
          jupyter nbconvert --to script "$notebook"  # Convert to Python script
          jupyter nbconvert --to html "$notebook" --theme dark
        done
  
    - name: Commit and push changes to main branch
      run: |
        git config --global user.name 'github-actions[bot]'  # Configure Git user
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'  # Configure Git email
        git add *.py *.html  # Add Python scripts, HTML files
        git commit -m 'Automatically convert notebooks to Python scripts and HTML'  # Commit changes
        git push  # Push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Use GitHub token for authentication

    - name: Push generated webpage to github pages
      uses: nkoppel/push-files-to-another-repository@v1.1.4
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        source-files: '*.html'
        destination-username: 'MishaRubanov'
        destination-branch: main
        destination-repository: 'MishaRubanov.github.io'
        destination-directory: '/jupyter'
        commit-email: 'misha.rubanov.1@gmail.com'
